<template>
  <section class="container">
    <video id="video" autoplay playsinline></video><!--インライン再生を可能にしておく-->
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  mounted(){
    const medias = {audio : false, video : {
      facingMode : {
        exact : "environment" // リアカメラにアクセス
      }
    }},
    video  = document.getElementById("video");
    
    navigator.getUserMedia(medias, successCallback, errorCallback);
    
    function successCallback(stream) {
    video.srcObject = stream;
    };
    
    function errorCallback(err) {
    alert(err);
    };
  }
}

</script>

<style>

body {
  margin: 0;
  background: #000;
}

#video {
  display: block;
  width: 100%;
}
</style>
